body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0px;
    overflow-x: hidden;
}

img {
    -webkit-user-select: none;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.cut_button {
    position: fixed;
    z-index: 1000;
    height: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    display: none;
}

.cut_button > div {
    width: 50%;
    float: left;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #009900;
}